@page
@model CitasSystem.Web.Pages.DoctoresModel
@{
}
<h1>Lista de Doctores</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code Doctor</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Specialty</th>
            <th>Schedule</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Doctors)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CodeNumber</td>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.Specialty</td>
                <td>@item.Schedule</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-area="" asp-page="/EditDoctors">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>